/*wrapper*/
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height:fit-content;
    background-color: black;
    overflow: hidden; 
}
/* navbar css*/ 
.navbar{
    background: rgba(0, 0, 0, 1);  
    width: 7.5vh;  
    height: 8vh;  
    position:fixed;left: 0vw;  
    display: flex; 
    z-index: 1345435;
    flex-direction: row; 
    justify-content: flex-start;     
    align-items:center;
    transition: 900ms ease-in-out;  
    align-content: space-between; 
    margin: 0;
    row-gap: 0px;
    opacity: .9; 
    z-index: 2132183123;
       
}


.navbar:hover p {
    display: flex; 
    align-self: flex-end;
    justify-self:flex-end; 
    position: relative;left: 2vh; 
}

.navbar p {
    display:none;
font-family: 'poppins',sans-serif; 
font-weight: bold;
position: relative;left: 1vw; 
text-align: left;
color: white;
font-size: 1rem;
width: 50vw;}
     

.navbar:hover .home-link {
    position: absolute; top:0vh;
    width: 35vw; 
}


.home-link p {
margin-left: 5vh;   
}


.navbar:hover {
width: 50vw;           
height: 100vh;
}

.navbar:hover li {
    border-top: solid rgba(255, 255, 255, 0.146) 1pt;
    border-bottom: solid rgba(255, 255, 255, 0.146)1pt; 
    width: 48w; 
}

.navbar:hover   .members-link {  
    border-bottom:rgba(255, 255, 255, 0.146) 2pt solid;  
    width: 45vw; 
}
.navbar:hover   .home-link {  
    border-bottom: rgba(255, 255, 255, 0.146)2pt  solid ;  
    border-top: none;  
    margin-top: 1vh; 
    width: 45vw; 
} 


.members-link p {
    position: relative;top: 1vh; 
    
    }
    
    
    .navbar:hover  .home-link ~ li {  
    display: flex;
    width: 35vw;  
    width: 45vw; 
    } 
    
    
    a > img{ 
        position: relative;top: 2vh;  
    }
    
    
  
    
    .navbar:hover  .blog-link {
        border-top:rgba(255, 255, 255, 0.146) 2pt solid;  
        width: 45vw; 
    } 
    
    
    
    .navbar li { 
        margin-bottom: 0vh; 
        margin-bottom: 0vh;
        list-style:none;
         margin-left: -5.5vh;  
         width: 48vw; 
    }
    
    
    
    .home-link ~ li {
        display: none; 
        opacity: 1;  
        width: 48vw; 
    }
    .blogicon {
        height: 6vh;  
        transition: 900ms ease-in-out;
      }
     
      .homeicon {
        height: 6vh;  
        transition: 900ms ease-in;
        position: absolute;top: 1vh;left: 1vw;      
      } 
    
    
    
      .wellbeingicon {
        height: 6vh;
       }


       /*landing css*/
       .triangle {
        display: none;
                }
    .top-para {
        display: none;
        }
    .bottom-para1{
        display: none;
    }
    .bottom-para2{
        display: none;
    }
.landing h {
    display: none;
    }
    .highlight {
        display: none;
    }
    
        .landing {
            position: relative;
            display: flex;
            justify-content: center;
            align-items:center;
            align-content: center;
            flex-flow: row;
            column-gap: 0vw;
            height: 100vh;
            width: 100vw; 
        }
        .logo {
            display: flex;
            width: 80vh;  
            position: absolute;
            }
            .safe{
                width: 80vw;
                margin-left: 10vw; margin-right: 10vw; 
            position: absolute;top: 80vh;
                        }


                        .logo::-webkit-media-controls-start-playback-button {
                          display: none;
                      }
            
/*mission CSS */

.mission {
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 100vw;
    position: relative;
    height: fit-content;
    border-bottom: white solid 2pt;
    }
 

.mission::before{
  content: '';
  width: 100vw; 
  height:3px;  
  position: absolute;bottom: -.5vh;
  background-color: white;
  filter: blur(1vw);  
  opacity: .3;   
}  

.mission h {
    text-align: center;
    font-size: 2.5rem; 
    color: white;
    font-family: "Poppins", sans-serif;
    width: 100vw;
    z-index: 10;
    margin-bottom: 3vh; 
   padding-top: 25vw; 
    border: 0;
order: 1;
position: relative;
}


.mission h::after {
  content:'OUR MISSION';
  font-weight: bold;
  position: absolute;left: 0vw;
  width: 100vw;
  filter: blur(1vw);
  text-align: center; 
  opacity: .6;

}

.mission p {
    color: white;
    font-size: 12pt;
    font-family: "Poppins", sans-serif;
    width: 80vw;
    line-height: 1.2;
    text-align: center;
    order: 2;
    position: relative;
}     


.b1 {
    width: 60vw;
    position: relative;
    order: 3;
    margin-bottom: 5vh;  
}
.button1{width: 60vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}






.mata {display: none;} 

/* about CSS */

.about-para {
    display: none;
}
.star {
    display: none;
}

.about {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 100vw;
    position: relative;
    height: fit-content;
    border-top: white solid 2pt;
}
.about::after {
  content: '';
  width: 100vw;
  height: 2pt;
  background-color: white;
  filter: blur(2vw);
  opacity: .6;   
  position: absolute;bottom:  0vh;  
}
.about::before {
  content: '';
  width: 100vw;
  height: 2pt;
  background-color: white;
  filter: blur(2vw);
  opacity: .6;  
  position: absolute;top:  0vh; 
}


.about h1 {
text-align: center;
font-size: 2.5rem;
color: white;
font-family: "Poppins", sans-serif;
width: 100vw;
z-index: 10;
border: 0;
order: -1;
margin-top:3vh; 
margin-bottom: 2vh; 
}

.about h1::after {
  content: 'ABOUT US';
  font-weight: bold;
  position: absolute;left: 0vw;
  width: 100vw; 
  filter: blur(1vw);
  opacity: .6; 
  color:white;
  z-index: -1;
}

.about-container {
display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 100vw;
    position: relative;
    height: fit-content;
}
.about p{
color: white;
font-size: 12pt;
font-family: "Poppins", sans-serif;
width: 80vw;
line-height: 1.2;
text-align: center;
order: 1;
}
.break
{
display: none;
}
.crown {display: none;} 
.strike {display: none;}
.b2 {
    width: 60vw;
    position: relative;
    order: 3;
    margin-bottom: 3vh;
} 
.button2{width: 60vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}


/* usp CSS */

.usp-carousel {
    background-color: black;
}
.usp{display: none;}


.usp-carousel h {
    text-align: center;
    font-size: 30pt;
    color: white;
    font-family: "Poppins", sans-serif;
    width: 100vw;
    z-index: 10;
    border: 0;
order: -1;
display: block;
margin-top: 3vh; 
margin-bottom: 1vh; 
position: relative;
}


.usp-carousel h::after {
  content: 'WHAT MAKES US DIFFERENT?';
  font-weight: bold;
  position: absolute;left: 0vh;top: 0vh;
  filter: blur(1vw);
  opacity: .4; 
}


.usp-container { 
    height: fit-content; 
    display: inline-flex;
    overflow: hidden;
    scrollbar-width: none;
    transform: translateX(0);
    will-change: transform;
    transition: transform 0.3s ease-out;
    cursor: grab;
    margin-bottom: 5vh; 
  }

  .usps {
    display: none;
  }
  
  .usp{
       display: flex;
    align-items: flex-end;
    justify-content: flex-end;
     }
  
  @media(min-width: 1200px){
    .usp {
      padding: 3rem;
    }
  }
  
  .usp img{ 
  
width: 50vw;
margin-left:25vw;
margin-right: 25vw; 
      transition: transform 0.3s ease-in-out;
          user-select: none;
  }
  
  .grab {
    cursor: grabbing;
  }
   
  .grabbing .stat img{
    transform: scale(0.9);
    box-shadow: 5px 5px 40px -1px var(--shadow);
  }
  .grabbing .stat::after{
    transform: scale(0.9)  skewX(-18deg); 
    
  } 





/*stats CSS*/

.row1{display: none;}
.row2{display: none;}
.row3{display: none;}

.reviews {
  border-top: solid white;
  justify-content: center;
  }

.stats{position: relative;}

.stats::before {
  content: '';
  width: 100vw;
  height: 2pt;
  background-color: white;
  filter: blur(2vw);
  opacity: 1;  
  position: absolute;top:  -3vh; 
}

.stats h1{
    text-align: center;
    font-size: 30pt;
    color: white;
    font-family: "Poppins", sans-serif;
    width: 100vw;
    z-index: 10;
    border: 0;
order: -1;
margin-top: 3vh; 
position: relative;

}

.stats h1::after {
  content: 'WHY SELF DEFENCE?';
  position: absolute;top: 0vh;
  left: 0vh;
  width: 100vw;
filter: blur(1vw);
opacity: .6; 
}



.stat-container { 
  height: 45vh;  
  display: inline-flex;
  overflow: hidden;
  scrollbar-width: none;
  transform: translateX(0);
  will-change: transform;
  transition: transform 0.3s ease-out;
  cursor: grab;
  margin-bottom: 5vh; 
  margin-top: -4vh; 
}


.stat{
  max-height: 85vh; 
  width: 100vw;  
  display: flex;
  align-items: center;
  justify-content: center;
    }


    .stat::after {
      content: '';
      background-color: white;
      width: 60vw;  
    height: 61vw;   
      position: absolute;
      z-index: -1; 
      transform: skewX(-18deg);
      filter: blur(3vw); 
      opacity: 0.6; 
      transition: 300ms ease-in-out;
    }
          

    .stats::after { 
      content: '';
      width: 100vw;
      height: 2pt;
      background-color: white;
      filter: blur(2vw);
      opacity: 1;  
      position: absolute;bottom:  0vh; 
    }
    

.stat img{  
  max-width: 80vw;
  max-height: 85vh;  
    transition: transform 0.3s ease-in-out;
                 user-select: none;
}
  
  .grab {
    cursor: grabbing;
  }
   
  .grabbing .usp img{
    transform: scale(0.9);
    box-shadow: 5px 5px 40px -1px var(--shadow);
  }





.ebook-mobile {display: none;}

/*Quote CSS */

.quote {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #f60059;
    border-top: solid white 2pt;
    border-bottom: solid white 2pt;
    position: relative;
}

.quote::before {
  content: '';
  width: 100vw;
  height: 2pt;
  background-color: white;
  filter: blur(2vw);
  opacity: 1;  
  position: absolute;bottom:  0vh; 
}

.quote::after {
  content: '';
  width: 100vw;
  height: 2pt;
  background-color: white;
  filter: blur(2vw);
  opacity: 1;  
  position: absolute;top:  0vh; 
}



.quote p {
    color: white;
    font-size: 12pt;
    font-family: "Poppins", sans-serif;
    width: 80vw;
    line-height: 1.2;
    text-align: center;
    order: 1;
    padding: 3vh;
}

.neon-star {display: none;} 
.bolt {display: none;}
            /* services css */
            .service{
             background-color: #f60059;
             position: relative;
                                    }


              .service::before {
                content: '';
                width: 100vw;
                height: 2pt;
                position: absolute;top: 0vh;
                background-color: white; 
                filter: blur(1vw);
                opacity: .7;
              }                      
            .service h {

                        display: block;
                text-align: center;
                font-size:2.5rem; 
                color: white;
                font-family: "Poppins", sans-serif;
                width: 100vw; 
                z-index: 10;
                position: relative;top: 2vh;
                 order: -1;
                 margin-bottom: 1vh; 
            }

            .service h::after {
content: 'OUR SERVICES';
font-weight: bold;
position: absolute;left: 0vw; 
color: white;
z-index: -1;
filter: blur(1vw);
opacity: .6;  
width: 100vw;
            }
            .service::after {
              content: '';
              width: 100vw;
              height: 2pt;
              background-color: white;
              filter: blur(3vw);
              opacity: 1;  
              position: absolute;bottom:  0vh; 
            }
            .service::before {
              content: '';
              width: 100vw;
              height: 2pt;
              background-color: white;
              filter: blur(2vw);
              opacity: 1;  
              position: absolute;top:  0vh; 
            }
            
            
        
              .card {display: none;}

              /* service swipe*/
                        
                       
              
              .slider-container { 
                height: fit-content; 
                display: inline-flex;
                overflow: hidden;
                scrollbar-width: none;
                transform: translateX(0);
                will-change: transform;
                transition: transform 0.3s ease-out;
                cursor: grab;
                             
                             }
            
              
              .slide{
                height: 60vh;    
                width: 100vw;  
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 10;
                margin-bottom: 3vh;               
                  }

                  .slide::after{
                    content: '';
                    position: absolute;
                    width: 82vw; 
                    height: 85vw;
                    max-height: 58vh;    
                    max-width: 350px;
                    background-color: white;
                    z-index: -1; 
                    filter: blur(5vw);  
                    opacity:(.1); 
                    transition: 300ms ease-in-out;
               
                  }
              
                      .divide2 {display: none;}   
                      .divide {display: none;}  
                      
                      
              .slide video{ 
               max-width: 80vw;
               max-height: 58vh;
                  transition: transform 0.3s ease-in-out;
                   border-radius: 1px;
                user-select: none;
                outline: solid white 1pt;
                z-index: 1;
                
                                            }
              
              .grabbing {
                cursor: grabbing;
              }
                
 
              .grabbing .slide video{
                transform: scale(0.9);
                box-shadow: 5px 5px 40px -1px var(--shadow);
              }

              .grabbing .slide::after {
                transform: scale(0.9);
              }


              /* reviews CSS */
.reviews {
    background-color: #f60059;
    height: fit-content; 
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
}
.reviews h {
  text-align: center;
  font-size: 2rem; 
  color: white;
  font-family: "Poppins", sans-serif;
  z-index: 10;
  border: 0;
order: -1;
display: block;
margin-top: 3vh; 
margin-bottom: 1vh; 
position: relative; 
}
 

.reviews h::after {
  content: 'HEAR FROM OUR SATISFIED CLIENTS';
  position: absolute;left: 0vw;top: 0vw;
  width: 100vw; 
  font-size: 2rem; 
  font-weight: bold;
  filter: blur(1vw);
  opacity: .6;
}
              .tat {display: none;}
              .wood{display: none;}
              .vpc {display: none;} 

              .review-container { 
                height: fit-content; 
                display: inline-flex;
                overflow: hidden;
                scrollbar-width: none;
                transform: translateX(0);
                will-change: transform;
                transition: transform 0.3s ease-out;
                cursor: grab;
                margin-bottom: 5vh; 
                justify-content: center;
                align-items: center;
                align-content: center;
                      }
            
              
              .review{
                max-height: 80vh; 
                width: 100vw;  
                display: flex;
                align-items: center;
                justify-content: center;
                align-content: center;
                  }
              
                        
              .review img{ 
                max-width: 80vw;
                max-height: 70vh;  
                  transition: transform 0.3s ease-in-out;
                               user-select: none;
              }
              
              .grab {
                cursor: grabbing;
              }
               
              .grabbing .review img{
                transform: scale(0.9);
                
              } 
            
            
            
            /* team CSS */
            .team {display: flex;
            position: relative;
            width: 100vw;
            flex-direction: column;
            align-content: center;
            align-items: center;
            justify-content: center;
            background-color: #f60059;  
          }
.row-kieran {
  width: 100vw; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3vh; 

}
.row-ellie { 
  width: 100vw; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3vh;
  
}
.team h {
  font-size: 2rem;
  color: white;
  font-family: 'poppins',sans-serif;
  width: 100vw; 
  text-align: center;
  position: relative; 
  z-index: 10;
  margin-top: 3vh;
  margin-bottom: 3vh; 
}

.team p {
  font-family: 'poppins',sans-serif;
  color: white;
  text-align: center;
  width: 80vw; 
}
 
.team h::after {
  content: 'MEET OUR EXPERT TEAM';
  position: absolute;left: 0vw;top: 0vw;
  width: 100vw;
  font-weight:  bold;
  filter: blur(1vw);  
  color: white;  
  z-index: -11;
  opacity: .6;  

}
            .team img {max-width: 60vw;
            display: flex;
          } 
 


/* ebook CSS */
.ebook {display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-content: center;
flex-wrap: wrap;
position: relative;
}

.ebook p {
  color: white;
  font-size: 1.5rem; 
  font-family: 'poppins',sans-serif;
  text-align: center;
  width: 95vw;  
  z-index: 324; 
  
}

.water {display: flex;
z-index: 1;
width: 90vw;
position: absolute;top:10vh; 
}

.cover {max-width: 30vw;
  margin: 1vw;  
  margin-bottom: 10vh;  
  z-index: 35; 
  
  }

  .contents {max-width: 30vw;
    margin: 1vw;  
    margin-bottom: 10vh;   
    z-index: 57;
    } 

    .page {max-width: 30vw;
      margin: 1vw;  
      margin-bottom: 10vh;   
      z-index: 28;
      }
      /* contact CSS */

      .contact {display:flex;
      flex-direction: column;
  align-items: center;
position: relative;
background-color: #f60059;}
 

.contact h {
  color: white;
  font-family: 'poppins',sans-serif;
 margin-bottom: 2vh;
  font-size: 2rem; 
  margin-top: 2vh;
  
}
      .contact img{
        max-width: 80vw; 
        display: flex; 
        margin-bottom: 3vh;   
        
      
      } 

      .form {
        max-width: 80vw; 
       margin-bottom: 3vh;
      }

