.navbar{
    width: 100vw;
    height: 10vh;
    position: fixed;
    background:
    linear-gradient(to bottom right 
      lightskyblue rgb(117, 4, 230) sandybrown
    );  z-index: 1999; 
  } 
  


  #navbar{
    width: 100vw;
    height: 10vh;
    position: fixed;
    background:
    linear-gradient(to bottom right 
      lightskyblue rgb(117, 4, 230) sandybrown
    );  z-index: 1999; 
  } 